<mat-nav-list>
    <!-- <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a> -->
    <a mat-list-item [routerLink]="links.invitation" (click)="onSidenavClose('invitation')">
        <mat-icon>local_post_office</mat-icon><span class="nav-caption">Einladung</span>
    </a>
    <a mat-list-item [routerLink]="links.schedule" (click)="onSidenavClose('schedule')">
        <mat-icon>schedule</mat-icon> <span class="nav-caption">Ablauf</span>   
    </a>
    <a mat-list-item [routerLink]="links.location" (click)="onSidenavClose('location')">
        <mat-icon>location_on</mat-icon><span class="nav-caption">Location</span>
    </a>
    <a mat-list-item [routerLink]="links.rsvp" (click)="onSidenavClose('rsvp')">
        <mat-icon>insert_invitation</mat-icon><span class="nav-caption">RSVP</span>
    </a>
  </mat-nav-list>

  <!-- <li>
    <a routerLink="/paragraph#schedule" (click)="forceNavigate('schedule')">Schedule</a>
</li>
<li>
    <a routerLink="/paragraph#invitation" (click)="forceNavigate('invitation')">Invitation</a>
</li>
<li>
   <a routerLink="/paragraph#rsvp" (click)="forceNavigate('rsvp')">RSVP</a>
</li>
<li>
    <a routerLink="/paragraph#location" (click)="forceNavigate('location')">Location</a>
 </li> -->