<mat-nav-list *ngIf="lang=='de'">
    <a mat-list-item [routerLink]="links.invitation" (click)="onSidenavClose('invitation')">
        <mat-icon>local_post_office</mat-icon><span class="nav-caption">Einladung</span>
    </a>
    <a mat-list-item [routerLink]="links.schedule" (click)="onSidenavClose('schedule')">
        <mat-icon>schedule</mat-icon> <span class="nav-caption">Ablauf</span>   
    </a>
    <a mat-list-item [routerLink]="links.support" (click)="onSidenavClose('support')">
        <mat-icon>live_help</mat-icon><span class="nav-caption">Trauzeugen</span>
    </a>
    <a mat-list-item [routerLink]="links.location" (click)="onSidenavClose('location')">
        <mat-icon>location_on</mat-icon><span class="nav-caption">Location</span>
    </a>
    <a mat-list-item [routerLink]="links.hotels" (click)="onSidenavClose('hotels')">
        <mat-icon>hotel</mat-icon><span class="nav-caption">Übernachtung</span>
    </a>
    <a mat-list-item [routerLink]="links.rsvp" (click)="onSidenavClose('rsvp')">
        <mat-icon>insert_invitation</mat-icon><span class="nav-caption">RSVP</span>
    </a>
  </mat-nav-list>

  <!-- EN -->
  <mat-nav-list *ngIf="lang=='en'">
    <a mat-list-item [routerLink]="links.invitation" (click)="onSidenavClose('invitation')">
        <mat-icon>local_post_office</mat-icon><span class="nav-caption">Invitation</span>
    </a>
    <a mat-list-item [routerLink]="links.schedule" (click)="onSidenavClose('schedule')">
        <mat-icon>schedule</mat-icon> <span class="nav-caption">Schedule</span>   
    </a>
    <a mat-list-item [routerLink]="links.support" (click)="onSidenavClose('support')">
        <mat-icon>live_help</mat-icon><span class="nav-caption">Contact</span>
    </a>
    <a mat-list-item [routerLink]="links.location" (click)="onSidenavClose('location')">
        <mat-icon>location_on</mat-icon><span class="nav-caption">Location</span>
    </a>
    <a mat-list-item [routerLink]="links.hotels" (click)="onSidenavClose('hotels')">
        <mat-icon>hotel</mat-icon><span class="nav-caption">Accommodation</span>
    </a>
    <a mat-list-item [routerLink]="links.rsvp" (click)="onSidenavClose('rsvp')">
        <mat-icon>insert_invitation</mat-icon><span class="nav-caption">RSVP</span>
    </a>
  </mat-nav-list>
