<mat-toolbar class="header">
    <div>
        <!-- LOGO -->
       <ng-container logoContent>

           <!-- Logo here -->
           <img src="assets\logo.png" height="20px" class="img" (click)="goHome()"/>

       </ng-container>
       <!-- <a routerLink="/home">Owner-Account</a> -->
   </div>
    <!-- Defines when the nav-side shall be used! -->
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul *ngIf="lang=='de'" fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a [routerLink]="links.invitation" (click)="forceNavigate('invitation')">Einladung</a>
            </li>
            <li>
                <a [routerLink]="links.schedule" (click)="forceNavigate('schedule')">Ablauf</a>
            </li>
            <li>
                <a [routerLink]="links.support" (click)="forceNavigate('support')">Trauzeugen</a>
            </li>
            <li>
                <a [routerLink]="links.location" (click)="forceNavigate('location')">Location</a>
             </li>
            <li>
               <a [routerLink]="links.rsvp" (click)="forceNavigate('rsvp')">RSVP</a>
            </li>
        </ul>
        <ul *ngIf="lang=='en'" fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a [routerLink]="links.invitation" (click)="forceNavigate('invitation')">Invitation</a>
            </li>
            <li>
                <a [routerLink]="links.schedule" (click)="forceNavigate('schedule')">Schedule</a>
            </li>
            <li>
                <a [routerLink]="links.support" (click)="forceNavigate('support')">Contact</a>
            </li>
            <li>
                <a [routerLink]="links.location" (click)="forceNavigate('location')">Location</a>
             </li>
            <li>
               <a [routerLink]="links.rsvp" (click)="forceNavigate('rsvp')">RSVP</a>
            </li>
        </ul>
    </div>
  </mat-toolbar>