.header{
    background-color: #9DB5B2;
    height: 40px;
    position: fixed;
    top: 0;   
    z-index: 10000;
    font-family: 'Montserrat';
    font-size: medium;
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}


a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}

.img {
    vertical-align:middle;
    cursor: pointer
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.sidebar-menu-link {
    display: block;
    color: cadetblue;
    text-decoration: none;
    width: 120px;
    text-align: center;
    border-right: 1px solid #ddd;
  }