
<div class="loading-ui" *ngIf="loading">
  <p>Loading...</p>
</div>

<mat-sidenav-container autosize style="font-family: 'Montserrat';">
    <mat-sidenav #sidenav role="navigation" position="end" fixedInViewport="true">
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content style="box-sizing: border-box;">
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main style="margin-top: 40px;">
        <router-outlet #routerOutlet></router-outlet>
    </main>
    <!-- <div class="content">
      <router-outlet></router-outlet>
    </div> -->
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <ul>
  <li *ngFor="let locale of localesList">
    <a href="/{{locale.code}}/">
      {{locale.label}}
    </a>
  </li>
</ul> -->

<!-- Language -->
<!-- <button mat-menu-item [matMenuTriggerFor]="languageOptions">
  <mat-icon>translate</mat-icon>
  <span>Language</span>
</button> -->

<!-- Language options -->
<!-- <mat-menu #languageOptions="matMenu">
  <ng-container *ngFor="let item of localesList">
      <form *ngIf="locale != item.code" action="/{{item.code}}/"> 
          <button mat-menu-item type="submit">
              {{item.label}}
          </button>
      </form>
  </ng-container>
</mat-menu> -->

