<div *ngIf="check && passCode">

  <section id="top" style="margin-top: -5px">
    <img id="top" src="assets\images\n&a\Top3_linked.png" alt="top-picture" class="top-single-img">
    <!-- <div fxLayout="row" fxLayoutAlign="center center"  class="image-container">
      <img src="assets\images\n&a\Top3.jpg" alt="schedule" class="top-img">
      <img src="assets\images\n&a\Top3.jpg" alt="schedule" class="top-img">
      <img src="assets\images\n&a\Top3.jpg" alt="schedule" class="top-img">
      <img src="assets\images\n&a\Top3.jpg" alt="schedule" class="top-img">
  </div> -->
    
  </section>

<section id="invitation">
  <div class="invitation">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
      <h2 style="font-weight: 100; color: #354F52">YES WE DO</h2>
      <h2 style="color: white">|</h2>
      <h2 style="font-weight: 100; color: #9DB5B2">27. MAI 2022</h2>
    </div>
    
    <p class="text">Wir trauen uns am 27. Mai 2022 um 16 Uhr im Hoftheather in Baienfurt.</p>
    <p class="text">Zusammen mit euch möchten wir diesen Tag zu einem unvergesslichen Ereignis machen.</p>
    <p class="text">Auf dieser Website findet ihr alle Infos rund um Location, Tagesablauf, Anmeldung, etc. </p>
    <p class="text">Klickt euch doch einfach durch! 😊 </p>
  </div>
  
</section>

<section id="schedule">
  <div class="image-container">
      <img src="assets\images\n&a\schedule.png" alt="schedule" class="timeline-img">
  </div>
</section>

<section id="location">
  <div class="container-maps">
    <h2 class="section-title">LOCATION</h2>
    <p class="text">Gefeiert wird im Hoftheater in Baienfurt:</p>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px">
      <p class="address">Hof 2</p>
      <p class="address">88255 Baienfurt</p>
      <p class="address">Germany</p>
    </div>
    <!-- <p class="text">Im restaurierten Farmhaus findet man alles vor was eine Hochzeit braucht. Es gibt genuegend Parkplaetze fuer alle Gaste, der traumhafte Aussenbreich lasst Sommergefuehle aufkommen und im Innenraum begeistert ein professioneller Theather-Saal mit traditionellem Holzfachwerk  🚘. </p> -->
    <p class="text">Idyllisch gelegen zwischen Apfelbäumen und Wiesen inmitten des Schussentals bietet das alte Farmhaus mit seinen verschiedene Räumlichkeiten im Innen- und Außenbereich ein traumhaftes Ambiente für unsere Hochzeit. Genügend Parkplätze sind auch verfügbar!</p>
    <google-map
      height="500px"
      width="100%"
      [center]="location"
    ></google-map>
  </div>
</section>

<section id="rsvp">
  <div class="container-rsvp">
    <h2 class="section-title">RSVP</h2>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <h3 class="text">Worauf wartest du?</h3>
      <p class="text">Wir würden uns sehr freuen, wenn du vor dem 01. Februar 2022 deine Rückmeldung abgeben könntest ​❤️🙏​.</p>
      <div fxLayout="column" fxLayoutAlign="center strech" fxLayoutGap.gt-xs="10px">

        <!-- Row 1 -->
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center" >

          <mat-form-field 
            ngClass.gt-xs="myNarrowClass"
            ngClass="myWideClass" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="inputData.name" required>
          </mat-form-field>

          <mat-form-field 
            ngClass.gt-xs="myNarrowClass"
            ngClass="myWideClass" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="email" [(ngModel)]="inputData.email" required>
          </mat-form-field>

        </div>
        <!-- Row 2 -->
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">

          <mat-form-field 
          ngClass.gt-xs="myNarrowClass"
          ngClass="myWideClass" appearance="fill">
              <mat-label>Anzahl Personen</mat-label>
              <input matInput type="number" [(ngModel)]="inputData.amount" max="5" required>
              <span matSuffix>pers.</span>
          </mat-form-field>

          <mat-form-field 
          ngClass.gt-xs="myNarrowClass"
          ngClass="myWideClass" appearance="fill">
            <mat-label>Telefon</mat-label>
            <input matInput  type="tel" [(ngModel)]="inputData.phone">
          </mat-form-field>
        </div>

        <mat-form-field ngClass.gt-xs="myNarrowClassPlus" ngClass="myWideClass" appearance="fill">
          <mat-label>Kommentar (Allergien, vegetarisch, vegan, sonstiges)</mat-label>
          <textarea matInput
            autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            [(ngModel)]="inputData.comment"
          ></textarea>
        </mat-form-field>

        <mat-form-field ngClass.gt-xs="myNarrowClassPlus" ngClass="myWideClass" appearance="fill">
          <mat-label>
            Songwünsche
            <mat-icon class="pe"
            matTooltip='Hier kannst du uns besondere Songwünsche mitteilen. Wir geben diese an unseren DJ weiter'>
              info_outline
            </mat-icon>
            
          </mat-label>
          <textarea matInput
            autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            [(ngModel)]="inputData.songs"
          ></textarea>
        </mat-form-field>

        <button mat-raised-button color="basic" class="full-width" (click)="submitRSVP()"
        matTooltip="Verbindlich anmelden">Ja, meld mich an!
      </button>
      </div>
    </div>
  </div>
</section>

<div class="bottom-container"></div>

  <div class="footer">
        <div fxLayout="row" fxLayoutAlign="center center">
        <button class="to-top-button" (click)="forceNavigate('top')">
          <mat-icon class="totop"> arrow_circle_up </mat-icon>
        </button>
          <!-- <div class="to-top-wrapper">
            <a [routerLink]="links.schedule" (click)="forceNavigate('top')">
              <mat-icon class="totop"> arrow_circle_up </mat-icon>
            </a>
          </div> -->
      </div>
  </div>
</div>

<p style="text-align: center; margin-bottom: 20px; color: #2F3E46">Erstellt von Alex mit ganz arg viel ❤️ für Nina</p>
