<div style="height:90vh" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">

    <p>Bitte gebe deinen Zuganscode aus der Einladung ein:</p>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">

        <mat-form-field style="width: 200px" appearance="fill">
            <mat-label>Zugangscode</mat-label>
            <input matInput [(ngModel)]="passCode">
        </mat-form-field>

        <button class="add-btn" *ngIf="passCode" (click)="goToMain()" matTooltip="Und los!" mat-mini-fab color="primary" aria-label="Und los!">
            <mat-icon>thumb_up_alt</mat-icon>
        </button>
        
    </div>
    <div *ngIf="wrongCode">Der Zugangscode war nicht korrekt. Versuche es erneut 😊</div>
    
    
    <!-- <button mat-stroked-button class="full-width" *ngIf="passCode" (click)="goToMain()"></button> -->
    
</div>